/* You can add global styles to this file, and also import other style files */
/* Reset básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; /* Garante que padding e border não aumentem a largura/altura */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Remove list styles on ul, ol elements with a bit of specificity */
ul,
ol {
  list-style: none;
}

/* Remove default button styles */
button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
